.toggle-nav{
    position: fixed;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: 1;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    /* transition: transform 0.3s ease;
    transform: translateX(-100%); */
}

.open{
    transform: translateX(0);
}