@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.css';

@tailwind base;
@tailwind components;
@tailwind utilities; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.icon{
    color: #FA5000;
}


@layer utilities{
    .bg-join{
        background: linear-gradient(90deg, #000000 47%, #FA5000 47%);
    }    

    .bg-join2{
        background: linear-gradient(180deg, #000000 47%, #FA5000 47%);
    }  

    .bg-join3{
        background: linear-gradient(90deg, #000000, #000000); 
    } 

    .about-bg {
        background: radial-gradient(circle at 40% 50%, #FFEEE6 39%, transparent 10%),
        linear-gradient(90deg, #fa5000 36%, transparent 36%);
    }

    .about-bg2 {
        background: #fa5000
    }
    
}
